.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#about {
    padding-bottom: 5%;
}

#services, #contact, #clients {
    padding-top: 5%;
    padding-bottom: 5%;
}

.bg-theme {
    background-color: #F4531C;
}

.ci {
    width: 100%;
    max-height: 400px !important;
}

.imgfw {
    width: 100%
}

.contact-form {
    margin-top: 15px;
}

.contact-form .textarea {
    min-height: 220px;
    resize: none;
}

.form-control {
    box-shadow: none;
    border-color: #eee;
    height: 49px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #00b09c;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
